body {
    /*color: #1A73E8;*/

}
.container {
    max-width: 600px;
    margin: 60px auto;
    padding: 10px 15px;
    border-radius: 10px;
   
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
}
select {
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(186, 183, 183);
}

footer {
    text-align: center;
}